scipy==1.10.1
numpy==1.22.4
tqdm==4.65.0
PyYAML==6.0.1
scikit-learn==1.2.2
pandas==1.5.3
gensim==4.3.1
pytrec-eval-terrier==0.5.2
matplotlib==3.7.1
fairsearchcore==1.0.4 # required by Adila submodule
python-dateutil==2.8.2

-f https://download.pytorch.org/whl/cu111/torch_stable.html
-f https://data.pyg.org/whl/torch-1.9.0+cu111.html

# my additions
torch==1.9.0+cu111
torchvision
torchaudio
torch-scatter==2.0.9
torch-sparse==0.6.12
torch-cluster==1.5.9
torch-spline-conv==1.2.1
torch-geometric==2.1.0